@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&family=Ubuntu:wght@400;500;600;700&display=swap');

a,.a-tugas {
    color : white;
}

.a-tugas:hover {
    color : rgb(0, 6, 94);
}

.close {
    color : white;
}

.modal-content {
    background-color : maroon;
    border-radius: 10px;
    color : white;
    font-family: 'Montserrat';
    padding : 10px;
}

.judul_petunjuk {
    font-weight: bold;
    font-size: 15pt;
}

.bi.contact {
    height: 2vh;
    width : 2vw;
}

.bi.social-media {
    height: 3vh;
    width: 3vw;
}

.list-unstyled * {
    margin-bottom: 0.5vh;
}

.navbar-custom {
    background-color: rgb(44, 0, 0);
}

.nav-item {
    font-family: 'Ubuntu';
    font-size: 15pt;
}

.navbar-brand {
    color : white;
    font-family: 'Ubuntu', sans-serif;
    font-size: 20pt;
}

.dropdown:hover>.dropdown-menu {
    display: block;
  }


.dropdown-toggle::after {
    content: none;
}

div.main-element {
    color: white;
    padding: 1vh 1vw;
    justify-content: center;
}

section, #title, b {
    font-family: 'Montserrat', sans-serif;
}

#home {
    padding : 5vh 5vw;
    height: 80vh;
    background-size:cover;
    background: url('/assets/img/background1.jpg') rgba(43, 0, 0, 0.8);
    background-blend-mode: multiply;
    color : white;
    background-attachment: fixed;
}

#home>.container  {
    margin: 25vh auto;
}

#feature-description {
    background: url('/assets/img/classroom.jpg') rgba(128, 0, 0, 0.9);
    background-blend-mode: multiply;
    color : white;
    background-attachment: fixed;
    padding: 25vh 0;
}


#about {
    padding-top : 5vh;
}



#about, #feature {
    padding-bottom: 10vh;
}

.paragraph {
    margin-top : 10vh;
}

.paragraph p {
    margin : 5vh 0;
}



#scoring {
    color : white;
    background-color: rgb(128, 0, 0);
    margin-top: 0;
}

#comparing {
    background: url('/assets/img/wp3222130-school-hd-wallpaper.jpg') rgba(220, 0, 0, 0.7);
    background-blend-mode: multiply;
    color : white;
    background-attachment: fixed;
}

#general {
    background-color: rgb(85, 8, 8);
    color : white;
}

 #scoring>.container, #comparing>.container, #general>.container {
    
    padding: 10vh 0;
}

#scoring>.container>h1, #comparing>.container>h1, #general>.container>h1{
    margin-bottom: 5vh;
}


.big-title {
    font-size : 3rem;
    margin: 3vh 0;
}

.description-1 {
    font-size: 1.75rem;
}

.description-2 {
    font-size : 1.25rem;
}

.maroon {
    width: 100%;
    background-color: maroon;
    color: white;
    
}

#features {
    width: 100%;
    background : rgb(43, 0, 0);
    color : white;
}

.container h1 {
    font-weight: bold;
}

.main-element h1 {
    margin: 5vh 0;
}


.feature-box, .helping-box {
    border-radius: 10px;
    
    margin:  15px;

}

.feature-box {
    padding: 20px;
}


.feature-box h3 {
    font-weight: bold;
    font-family: 'Ubuntu', sans-serif;
    font-size: 16pt;
    color : white;
}

.feature-box p {
    font-size: 10pt;
}

#help {
    height: 50vh;
    background-size:cover;
    background: url('/assets/img/background2.jpg') rgba(72,0,0,0.9);
    background-blend-mode: multiply;
    color : white;
    background-attachment: fixed;
    
}

.helping-box {
    font-family: 'Montserrat', sans-serif;
    color : white;
    padding: 2vh 1vw 1vh;
    cursor: pointer;
}

.feature .helping-box h3 {
    font-weight: bold;
}

.helping-box * {
    margin-top: 1vh;
}

.icon-layanan, .helping-box img {
    height: 60%;
    width: 50%;
}

.nav-tabs {
    margin-top: 5vh;
}

.nav-tabs .nav-link {
    font-family: 'Ubuntu';
    color : white;
}

.nav-tabs .nav-link.active{
    background: none;
    font-weight: bold;
    color : white;
    border: none;
}

.nav-tabs .nav-link:hover{
    background: none;
    font-weight: bold;
    border : none;
    color : white;
    font-family:'Montserrat';
    
}

.nav-tabs .nav-link:not(.active):hover{
    font-weight: normal;
}

.nav-tabs .nav-link.active:hover{
    font-weight: bold;
}


.caption{
    display: block;
}

.helper_bacaan, .helper_uraian {
    margin-top: 15pt;
}

.penyebut_bacaan, .penyebut_uraian, .pembilang_bacaan, .pembilang_uraian {
    max-width: 100pt;
    margin-left: 10pt;
}

.label-helper {
    margin-left: 5pt;
    font-size: 10pt;
}

.radio-info {
    margin: 3vh auto;
}

h1 {
    font-size : 30pt;
    margin-left: 10pt;
    margin-top: 10pt;
}

.btn-custom {
    margin: 2vh 4vw;
    float: center;
    justify-content: center;
}

.btn:hover {
    color : white;
}

.btn-custom-maroon {
    background-color : rgb(128, 0, 0);
    color : white;
    font-size: 1rem !important;
    padding: 1vh 1vw;
    border-radius: 2rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

.btn-custom-add {
    background-color : rgb(1, 39, 133);
    color : white;
    padding: 1vh 1vw;
    border-radius: 2rem;
    font-family: 'Montserrat', sans-serif;
}

.btn-custom-light {
    background-color : rgb(84, 0, 0);
    color : white;
    padding: 1vh 1vw;
    border-radius: 2rem;
    font-family: 'Montserrat', sans-serif;
}


.btn-custom-add:focus, .btn-custom-light:focus {
    box-shadow: 5px white;
    border: none;
}

.btn-send-email {
    background-color : rgb(49, 0, 0);
    color : white;
    padding: 1vh 1vw;
    border-radius: 2rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

.form-email {
    width : 25vw;border-radius: 10px;background-color: rgb(79, 79, 79);
    border: none;
    color:rgb(49, 15, 15) !important;
}

.form-email::placeholder {
    color: rgb(201, 201, 201);
    font-family: 'Ubuntu', sans-serif;
  }

.btn-custom-maroon:hover {
    background-color : rgb(60, 0, 0);
    color : white;
}

.split {
  height: 60%;
  width: 50%;
  top: 60;
  bottom: 50;
  overflow-x: hidden;
  padding-top: 20px;
  position: fixed;
}

.back-to-main {  
    font-family: 'Montserrat', sans-serif;
}

.back-to-main:hover {
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    color: white;
}

#back {
    margin: 2vh 1vw;
}


body.main-program {
    background-color: rgb(100,0,0);
}

.container-fluid {
    margin: 0;padding: 0;
}

footer.disclaimer {
    background-color: rgb(31, 28, 28);
    padding: 2vh 0;
    width: 100%;
    top : 100%;
    position: absolute;
}

.info-sekolah .form-control, .info-jenjang .form-control, .state.form-control, .soal.form-control, .nilai.form-control, .aspek.form-control, .nilai-small.form-control, .nilai-std.form-control, .form-control-plaintext {
    background-color: gray;
    border-radius: 10px;
    border: none;
    color : white;
    font-family: 'Ubuntu', sans-serif;
}

.form-control-plaintext {
    padding: 0.5vh 0.5vw;
}

textarea {
    background-color: gray !important;
    border-radius: 10px !important;
    border: none !important;
    color : white !important;
    font-family: 'Ubuntu', sans-serif !important;
    height : 30vh !important;
}


.nilai.form-control {
    width: 20vw;
}

.info-sekolah .form-control, .info-jenjang .form-control, .state.form-control, .soal.form-control, .nilai-small.form-control
{
    max-width:15vw;
}

.state.form-control::placeholder, .nilai.form-control::placeholder, .soal.form-control::placeholder, .nilai-small.form-control::placeholder, .nilai-std.form-control::placeholder,.aspek.form-control::placeholder {
    color :rgba(44, 0, 0, 0.5);
    font-family: 'Ubuntu';
}


label, p, ol li {
    font-family: 'Montserrat';
}

#result {
    font-weight: bold;
    font-size: 20pt;
}


.primary {
    font-family: 'Montserrat';
    font-size: 40pt;
    font-weight: 700;
}

.grade {
    font-size: 30pt;
    font-weight: 500;
}

.head {
    margin-top: 2vh;
}


.head p, p.head {
    font-weight: bold;
    font-size: 15pt;
    margin-right: 10px;
}

.head img {
    margin-top : 3px;
}

.grade {
    color : white;
    font-size: 18pt;
}

.number {
    color : rgb(213, 0, 0);
    font-size: 24pt;
    font-weight: bold;
    font-family: 'Ubuntu';
}


.avg {
    color : red;
    font-size: 24pt;
}

#selisih {
    color : green;
    font-size: 24pt;
}

.secondary {
    color : white;
    font-size: 30pt;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
}

.main-info {
    font-size: 20pt;
    font-weight: 500;
    text-align: center !important;
    margin: 2.5vh 0;
}

.info {
    font-size: 15pt;
    text-align: center !important;
    margin: 1vh 0;
}



.bonus {
    font-size: 35pt;
}






.disclaimer {
    font-size: 8pt;
    text-align: center;
}


ket, p.ket {
    color : white;
    
    margin-top: 0pt;
    text-align: center;
    
}

ket {
    font-size: 10pt;
}

p.ket {
    font-size: 15pt;
    margin-top : 1vh;
}

.keterangan > * > * {
    margin-left: 5px;
    font-size: 15pt;
}

.second {
    font-size: 20pt;
    font-weight: 400;
}

header .left {
    left: 0;
}

.frame {
    width: 100%;
    position: relative;
    overflow: hidden;
}


header .right {
    right: 0;
}

center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}


.btn {
    padding-top: 10px;
    margin-top: 10px;
    text-align: center;
    font-size: 10pt;
}


footer h6 danger {
    text-align:left;
    font-weight: bold;
    color: red;
}

footer {
    margin-bottom: 0pt;
}


footer h6:not(danger) {
    color : white;
    text-align: center;
}

.sekolah a, .kuliah a {
    overflow: hidden;
}

.img{
    height: 20px;
    width: 20px;
    cursor: pointer;
}

#alert-pop-up .modal-content {
    top : 25vh;
    padding: 4vh 2vw;
    font-size: 12pt;
}

.modal-content p {
    margin-top: 2vh;
}

#score-detail {
    display:none;
    overflow-y: scroll;
    height: 30vh;
    background-color: rgba(169, 0, 0, 0.5);
    border-radius: 10px;
}

.question, .answers {
    font-size: 15pt;
}

.question {
    font-weight: bold;
}

.qa> * {
    margin : 0 ;
}
